.venv/
/opt/venv/
hpeV2-gnn/lightning_logs/
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg-info/
dist/
build/
*.log
*.github
lightning_logs
run_time/
helper_files/
prediction_results/
prompts/
moveEnetFlow/csv_file
graph_enet/notebooks/prediction_video.mp4
graph_enet/notebooks/prediction_video2.mp4
moveEnetFlow/mp4_files
moveEnetFlow/pwr_cpu_file
moveEnetFlow/pwr_gpu_file
moveEnetFlow/experiments
!moveEnetFlow/experiments/expA_accuracy_vs_network_period/run_experiment_a.sh
!moveEnetFlow/experiments/expB_accuracy_vs_flow_period/run_experiment_b.sh
moveEnetFlow/nni_experiments
moveEnetFlow/power_experiments
moveEnetFlow/video_slides
moveEnetFlow/other_version
model_mounts/
epp_video.mp4
video.mp4
