.venv/
/opt/venv/
hpeV2-gnn/lightning_logs/
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg-info/
dist/
build/
*.log
*.github
lightning_logs
run_time/
helper_files/
prediction_results/
prompts/
moveEnetFlow/edpr-april.cpp
moveEnetFlow/extract_eros.cpp
moveEnetFlow/csv_file
moveEnetFlow/avi_file
moveEnetFlow/eval_results
moveEnetFlow/predictions
moveEnetFlow/csv_batch
graph_enet/notebooks/prediction_video.mp4
graph_enet/notebooks/prediction_video2.mp4
moveEnetFlow/moveEnet_flowKalman.cpp
moveEnetFlow/mp4_files
moveEnetFlow/pwr_cpu_file
moveEnetFlow/pwr_gpu_file
moveEnetFlow/experiments
moveEnetFlow/nni_experiments
moveEnetFlow/power_experiments
