.venv/ 
/opt/venv/ 
hpeV2-gnn/lightning_logs/ 
*.pyc 
*.pyo __pycache__/ 
*.pyd 
*.pdb 
*.egg-info/ 
dist/ 
build/ 
build2/ 
*.log 
*.github 
lightning_logs 
run_time/ 
helper_files/ 
prediction_results/ 
prompts/ 
moveEnetFlow/csv_file 
graph_enet/notebooks/prediction_video.mp4 
graph_enet/notebooks/prediction_video2.mp4 
moveEnetFlow/mp4_files 
moveEnetFlow/pwr_cpu_file 
moveEnetFlow/pwr_gpu_file 
moveEnetFlow/nni_experiments 
moveEnetFlow/power_experiments 
moveEnetFlow/video_slides 
moveEnetFlow/other_version 
/model_mounts/ 
epp_video.mp4 
video.mp4 
docker/.env 
.devcontainer/ 
.notebookVenv/

# ignore all files in experiments folder
/moveEnetFlow/experiments/**
# unignore all subfolders in experiments folder                
!/moveEnetFlow/experiments/**/
# unignore all .sh files in experiments folder and its subfolders             
!/moveEnetFlow/experiments/**/*.sh
# unignore all .ipynb files in experiments folder and its subfolders
!/moveEnetFlow/experiments/**/*.ipynb

/model_mounts/**
!/model_mounts/**/
!/model_mounts/**/*.py
!/model_mounts/**/*.pth
!/model_mounts/OpenPose/pose_iter_584000.caffemodel

/moveEnetFlow/old_script_version/**

/tmp